<div class="flex flex-row justify-between items-center">
  <a class="{{ site.colour_scheme.text | default: 'near-white'}} dim link f3 fw6 w-50"
    href="{{ '/' | absolute_url }}" title="Home">{{ site.title }}</a>
  <div class="flex flex-row items-center mt0 mw5">
    <nav class="flex flex-row dtc v-mid w-100">
      {% for link in site.data.theme.header.nav %}
      {% if link.url contains 'http' %}
      {% assign domain = '' %}
      {% else %}
      {% assign domain = site.url | append: site.baseurl %}
      {% endif %}
      <a href="{{ domain }}{{ link.url }}"
        class="link {{ site.colour_scheme.text | default: 'near-white'}} dim f5 f4-ns dib mr3 mr4-ns fw3 items-center justify-between w-100 tc"
        {% if link.url contains 'http' %}target="_blank"{% endif %}>
        {{ link.title }}
      </a>
      {% endfor %}
    </nav>
  </div>
</div>
