---
layout: default
class: homepage
header: home
---

<section class="flex justify-center mt3">
  <div class="mw7 w-100 pa3 pa4-ns">

    {% for post in site.posts limit: site.posts.limit %}
    <a class="link black-80 hover-silver" href="{{ post.url | relative_url }}">
      <article class="post pv4 bb b--light-gray">
        <div class="f5 fw3 silver lh-copy">
          {{ post.date | date: site.date_format }}
        </div>
        <h3 class="f3 f2-ns fw6 lh-title mt0 mb0">{{ post.title | escape }}</h3>
        <p class="f5 f4-ns fw3 lh-copy mv2">{{ post.excerpt | remove: '<p>' | remove: '</p>' }}</p>
        <div class="f6 fw3 silver lh-copy mb0">Read more&hellip;</div>
      </article>
    </a>
    {% endfor %}

  </div>
</section>
